@font-face { font-family: "Gotham-Book"; src: url("fonts/Gotham-Book.ttf"); }
@font-face { font-family: "MyriadPro-Regular"; src: url("fonts/MyriadPro-Regular.ttf"); }
@font-face { font-family: "Montserrat-Medium"; src: url("fonts/Montserrat-Medium.ttf"); }
@font-face { font-family: "Gotham-Bold"; src: url("fonts/Gotham-Bold.ttf"); }
@font-face { font-family: "ChelaOne-Regular"; src: url("fonts/ChelaOne-Regular.ttf"); }
@font-face { font-family: "Calibri-Bold"; src: url("fonts/Calibri-Bold.ttf"); }
@font-face { font-family: "BebasNeue-Regular"; src: url("fonts/BebasNeue-Regular.ttf"); }
@font-face { font-family: "Montserrat-Bold"; src: url("fonts/Montserrat-Bold.ttf"); }
@font-face { font-family: "RobotoSlab-Bold"; src: url("fonts/RobotoSlab-Bold.ttf"); }
@font-face { font-family: "NexaBold"; src: url("fonts/NexaBold.ttf"); }
@font-face { font-family: "Amsterdam-Regular"; src: url("fonts/Amsterdam-Regular.ttf"); }
@font-face { font-family: "Bayon-Regular"; src: url("fonts/Bayon-Regular.ttf"); }
@font-face { font-family: "Montserrat-ExtraBold"; src: url("fonts/Montserrat-ExtraBold.ttf"); }
@font-face { font-family: "Poppins-Regular"; src: url("fonts/Poppins-Regular.ttf"); }
@font-face { font-family: "Montserrat-Regular"; src: url("fonts/Montserrat-Regular.ttf"); }
@font-face { font-family: "AlegreyaSans-ExtraBold"; src: url("fonts/AlegreyaSans-ExtraBold.ttf"); }
@font-face { font-family: "Montserrat-Italic"; src: url("fonts/Montserrat-Italic.ttf"); }
@font-face { font-family: "Poppins-Bold"; src: url("fonts/Poppins-Bold.ttf"); }
@font-face { font-family: "Arial-Black"; src: url("fonts/Arial-Black.ttf"); }
@font-face { font-family: "Arial"; src: url("fonts/Arial.ttf"); }
@font-face { font-family: "Roboto-Bold"; src: url("fonts/Roboto-Bold.ttf"); }
@font-face { font-family: "Delius-Regular"; src: url("fonts/Delius-Regular.ttf"); }
@font-face { font-family: "Poppins-SemiBold"; src: url("fonts/Poppins-SemiBold.ttf"); }
@font-face { font-family: "HossRound-Regular"; src: url("fonts/HossRound-Regular.otf"); }
@font-face { font-family: "Interstate-ThinItalic"; src: url("fonts/Interstate-ThinItalic.otf"); }
@font-face { font-family: "OrpheusPro"; src: url("fonts/OrpheusPro.otf"); }
@font-face { font-family: "CampaignSerif-Regular"; src: url("fonts/CampaignSerif-Regular.otf"); }
@font-face { font-family: "DepotNew-BoldItalic"; src: url("fonts/DepotNew-BoldItalic.otf"); }
@font-face { font-family: "DepotNew-Regular"; src: url("fonts/DepotNew-Regular.otf"); }
@font-face { font-family: "DepotNew-Light"; src: url("fonts/DepotNew-Light.otf"); }
@font-face { font-family: "SofiaPro-Regularitalic"; src: url("fonts/SofiaPro-Regularitalic.otf"); }
@font-face { font-family: "SwearDisplay-Regular"; src: url("fonts/SwearDisplay-Regular.otf"); }
@font-face { font-family: "RocGrotesk-Bold"; src: url("fonts/RocGrotesk-Bold.otf"); }
@font-face { font-family: "Alverata-Italic"; src: url("fonts/Alverata-Italic.otf"); }
@font-face { font-family: "SwearDisplay-Italic"; src: url("fonts/SwearDisplay-Italic.otf"); }
@font-face { font-family: "MostraNuova-Light"; src: url("fonts/MostraNuova-Light.otf"); }
@font-face { font-family: "Gautreaux-Medium"; src: url("fonts/Gautreaux-Medium.otf"); }
@font-face { font-family: "ProximaNovaT-Thin"; src: url("fonts/ProximaNovaT-Thin.otf"); }
@font-face { font-family: "FreightBigProMedium-Regular"; src: url("fonts/FreightBigProMedium-Regular.otf"); }
@font-face { font-family: "DazzleUnicase-Medium"; src: url("fonts/DazzleUnicase-Medium.otf"); }
@font-face { font-family: "BaskervilleDisplayPT-Regular"; src: url("fonts/BaskervilleDisplayPT-Regular.otf"); }
@font-face { font-family: "LustScript"; src: url("fonts/LustScript.otf"); }
@font-face { font-family: "HossRound-LightItalic"; src: url("fonts/HossRound-LightItalic.otf"); }
@font-face { font-family: "Alga-SemiboldItalic"; src: url("fonts/Alga-SemiboldItalic.otf"); }
@font-face { font-family: "LeMondeJournalStd-Regular"; src: url("fonts/LeMondeJournalStd-Regular.otf"); }
@font-face { font-family: "InputMono-Bold"; src: url("fonts/InputMono-Bold.otf"); }
@font-face { font-family: "RocGrotesk-Regular"; src: url("fonts/RocGrotesk-Regular.otf"); }
@font-face { font-family: "Brother-1816-Regular-Italic"; src: url("fonts/Brother-1816-Regular-Italic.otf"); }
@font-face { font-family: "InputMono-Thin"; src: url("fonts/InputMono-Thin.otf"); }
@font-face { font-family: "Brother-1816-Bold"; src: url("fonts/Brother-1816-Bold.otf"); }
@font-face { font-family: "LeMondeJournalStd-Bold"; src: url("fonts/LeMondeJournalStd-Bold.otf"); }
@font-face { font-family: "FilsonProBold-Italic"; src: url("fonts/FilsonProBold-Italic.otf"); }
@font-face { font-family: "DepotNew-Italic"; src: url("fonts/DepotNew-Italic.otf"); }
@font-face { font-family: "DagnyPro-LightIta"; src: url("fonts/DagnyPro-LightIta.otf"); }
@font-face { font-family: "ProximaNova-Light"; src: url("fonts/ProximaNova-Light.otf"); }
@font-face { font-family: "Tangier-Medium"; src: url("fonts/Tangier-Medium.otf"); }
@font-face { font-family: "AnisetteStdPetite-Light"; src: url("fonts/AnisetteStdPetite-Light.otf"); }
@font-face { font-family: "SofiaPro-Light"; src: url("fonts/SofiaPro-Light.otf"); }
@font-face { font-family: "Arboria-Medium"; src: url("fonts/Arboria-Medium.otf"); }
@font-face { font-family: "ProximaNova-Semibold"; src: url("fonts/ProximaNova-Semibold.otf"); }
@font-face { font-family: "ProximaNova-Bold"; src: url("fonts/ProximaNova-Bold.otf"); }
@font-face { font-family: "P22MackinacPro-BoldItalic"; src: url("fonts/P22MackinacPro-BoldItalic.otf"); }
@font-face { font-family: "OrpheusPro-Bold"; src: url("fonts/OrpheusPro-Bold.otf"); }
@font-face { font-family: "ProximaNova-Extrabld"; src: url("fonts/ProximaNova-Extrabld.otf"); }
@font-face { font-family: "QuiverleafCF-RegularItalic"; src: url("fonts/QuiverleafCF-RegularItalic.otf"); }
@font-face { font-family: "Alga-Bold"; src: url("fonts/Alga-Bold.otf"); }
@font-face { font-family: "HossRound-BoldItalic"; src: url("fonts/HossRound-BoldItalic.otf"); }
@font-face { font-family: "Interstate-Thin"; src: url("fonts/Interstate-Thin.otf"); }
@font-face { font-family: "Termina-Regular"; src: url("fonts/Termina-Regular.otf"); }
@font-face { font-family: "Noka-Medium"; src: url("fonts/Noka-Medium.otf"); }
@font-face { font-family: "OrpheusPro-Medium"; src: url("fonts/OrpheusPro-Medium.otf"); }
@font-face { font-family: "BebasNeuePro-BookItalic"; src: url("fonts/BebasNeuePro-BookItalic.otf"); }
@font-face { font-family: "Interstate-Light"; src: url("fonts/Interstate-Light.otf"); }
@font-face { font-family: "ITCAvantGardePro-Bk"; src: url("fonts/ITCAvantGardePro-Bk.otf"); }
@font-face { font-family: "ITCAvantGardePro-Md"; src: url("fonts/ITCAvantGardePro-Md.otf"); }
@font-face { font-family: "FreightBigProMedium-Italic"; src: url("fonts/FreightBigProMedium-Italic.otf"); }
@font-face { font-family: "FinoSans-Regular"; src: url("fonts/FinoSans-Regular.otf"); }
@font-face { font-family: "DepotNew-LightItalic"; src: url("fonts/DepotNew-LightItalic.otf"); }
@font-face { font-family: "GaramondPremrPro-Bd"; src: url("fonts/GaramondPremrPro-Bd.otf"); }
@font-face { font-family: "BaskervilleDisplayPT-Italic"; src: url("fonts/BaskervilleDisplayPT-Italic.otf"); }
@font-face { font-family: "FilsonProBold"; src: url("fonts/FilsonProBold.otf"); }
@font-face { font-family: "MostraNuova"; src: url("fonts/MostraNuova.otf"); }
@font-face { font-family: "InputMono-Light"; src: url("fonts/InputMono-Light.otf"); }
@font-face { font-family: "Bressay-Italic"; src: url("fonts/Bressay-Italic.otf"); }
@font-face { font-family: "CampaignSerif-Bold"; src: url("fonts/CampaignSerif-Bold.otf"); }
@font-face { font-family: "Alga-LightItalic"; src: url("fonts/Alga-LightItalic.otf"); }
@font-face { font-family: "Alga-MediumItalic"; src: url("fonts/Alga-MediumItalic.otf"); }
@font-face { font-family: "MendlSans-DawnLight"; src: url("fonts/MendlSans-DawnLight.otf"); }
@font-face { font-family: "FilsonProRegular"; src: url("fonts/FilsonProRegular.otf"); }
@font-face { font-family: "ITCAvantGardePro-Bold"; src: url("fonts/ITCAvantGardePro-Bold.otf"); }
@font-face { font-family: "Bookmania-Bold"; src: url("fonts/Bookmania-Bold.otf"); }
@font-face { font-family: "WayfinderCF-RegularItalic"; src: url("fonts/WayfinderCF-RegularItalic.otf"); }
@font-face { font-family: "Tenon-Light"; src: url("fonts/Tenon-Light.otf"); }
@font-face { font-family: "Bressay-BoldItalic"; src: url("fonts/Bressay-BoldItalic.otf"); }
@font-face { font-family: "ProximaNova-Medium"; src: url("fonts/ProximaNova-Medium.otf"); }
@font-face { font-family: "BrothersOT-Regular"; src: url("fonts/BrothersOT-Regular.otf"); }
@font-face { font-family: "Interstate-LightItalic"; src: url("fonts/Interstate-LightItalic.otf"); }
@font-face { font-family: "IvyPrestoText-Bold"; src: url("fonts/IvyPrestoText-Bold.otf"); }
@font-face { font-family: "Bookmania-Light"; src: url("fonts/Bookmania-Light.otf"); }
@font-face { font-family: "DazzleUnicase-Bold"; src: url("fonts/DazzleUnicase-Bold.otf"); }
@font-face { font-family: "Alga-Medium"; src: url("fonts/Alga-Medium.otf"); }
@font-face { font-family: "ProximaNova-BoldIt"; src: url("fonts/ProximaNova-BoldIt.otf"); }
@font-face { font-family: "InputMono-Regular"; src: url("fonts/InputMono-Regular.otf"); }
@font-face { font-family: "Brother-1816-Light"; src: url("fonts/Brother-1816-Light.otf"); }
@font-face { font-family: "FilsonProRegular-Italic"; src: url("fonts/FilsonProRegular-Italic.otf"); }
@font-face { font-family: "WayfinderCF-Regular"; src: url("fonts/WayfinderCF-Regular.otf"); }
@font-face { font-family: "DazzleUnicase-Light"; src: url("fonts/DazzleUnicase-Light.otf"); }
@font-face { font-family: "BakerSignetBT"; src: url("fonts/BakerSignetBT.otf"); }
@font-face { font-family: "Bookmania-Regular"; src: url("fonts/Bookmania-Regular.otf"); }
@font-face { font-family: "BenguiatProITC-Medium"; src: url("fonts/BenguiatProITC-Medium.otf"); }
@font-face { font-family: "ProximaNova-ExtrabldIt"; src: url("fonts/ProximaNova-ExtrabldIt.otf"); }
@font-face { font-family: "Interstate-Italic"; src: url("fonts/Interstate-Italic.otf"); }
@font-face { font-family: "SofiaPro-Regular"; src: url("fonts/SofiaPro-Regular.otf"); }
@font-face { font-family: "GaramondPremrPro-It"; src: url("fonts/GaramondPremrPro-It.otf"); }
@font-face { font-family: "IvyPrestoText-LightItalic"; src: url("fonts/IvyPrestoText-LightItalic.otf"); }
@font-face { font-family: "Tangier-Light"; src: url("fonts/Tangier-Light.otf"); }
@font-face { font-family: "DazzleUnicase-Thin"; src: url("fonts/DazzleUnicase-Thin.otf"); }
@font-face { font-family: "NeueKabel-MediumItalic"; src: url("fonts/NeueKabel-MediumItalic.otf"); }
@font-face { font-family: "MapRoman-Normal"; src: url("fonts/MapRoman-Normal.otf"); }
@font-face { font-family: "Gautreaux-Light"; src: url("fonts/Gautreaux-Light.otf"); }
@font-face { font-family: "SilvaDisplay-Book"; src: url("fonts/SilvaDisplay-Book.otf"); }
@font-face { font-family: "GravesendSans-Bold"; src: url("fonts/GravesendSans-Bold.otf"); }
@font-face { font-family: "LigurinoCdRg-Regular"; src: url("fonts/LigurinoCdRg-Regular.otf"); }
@font-face { font-family: "GravesendSans-Medium"; src: url("fonts/GravesendSans-Medium.otf"); }
@font-face { font-family: "NeueKabel-Medium"; src: url("fonts/NeueKabel-Medium.otf"); }
@font-face { font-family: "ProximaNova-ThinIt"; src: url("fonts/ProximaNova-ThinIt.otf"); }
@font-face { font-family: "HossRound-RegularItalic"; src: url("fonts/HossRound-RegularItalic.otf"); }
@font-face { font-family: "SwearDisplay-Light"; src: url("fonts/SwearDisplay-Light.otf"); }
@font-face { font-family: "GaramondPremrPro"; src: url("fonts/GaramondPremrPro.otf"); }
@font-face { font-family: "BrothersOT-Bold"; src: url("fonts/BrothersOT-Bold.otf"); }
@font-face { font-family: "IvyPrestoText-BoldItalic"; src: url("fonts/IvyPrestoText-BoldItalic.otf"); }
@font-face { font-family: "Bookmania-BoldItalic"; src: url("fonts/Bookmania-BoldItalic.otf"); }
@font-face { font-family: "Hatch-Light"; src: url("fonts/Hatch-Light.otf"); }
@font-face { font-family: "ProximaNova-RegularIt"; src: url("fonts/ProximaNova-RegularIt.otf"); }
@font-face { font-family: "Tenon-RegularItalic"; src: url("fonts/Tenon-RegularItalic.otf"); }
@font-face { font-family: "Alga-Light"; src: url("fonts/Alga-Light.otf"); }
@font-face { font-family: "NeueKabel-Light"; src: url("fonts/NeueKabel-Light.otf"); }
@font-face { font-family: "GaramondPremrPro-BdIt"; src: url("fonts/GaramondPremrPro-BdIt.otf"); }
@font-face { font-family: "DagnyPro-Ita"; src: url("fonts/DagnyPro-Ita.otf"); }
@font-face { font-family: "Bressay-Regular"; src: url("fonts/Bressay-Regular.otf"); }
@font-face { font-family: "P22MackinacPro-Bold"; src: url("fonts/P22MackinacPro-Bold.otf"); }
@font-face { font-family: "Alga-RegularItalic"; src: url("fonts/Alga-RegularItalic.otf"); }
@font-face { font-family: "BenguiatProITC-BookItalic"; src: url("fonts/BenguiatProITC-BookItalic.otf"); }
@font-face { font-family: "DagnyPro-Light"; src: url("fonts/DagnyPro-Light.otf"); }
@font-face { font-family: "DagnyPro"; src: url("fonts/DagnyPro.otf"); }
@font-face { font-family: "LigurinoRg-Regular"; src: url("fonts/LigurinoRg-Regular.otf"); }
@font-face { font-family: "BenguiatProITC-MediumItalic"; src: url("fonts/BenguiatProITC-MediumItalic.otf"); }
@font-face { font-family: "BenguiatProITC-Book"; src: url("fonts/BenguiatProITC-Book.otf"); }
@font-face { font-family: "RocGrotesk-Light"; src: url("fonts/RocGrotesk-Light.otf"); }
@font-face { font-family: "Soap-Regular"; src: url("fonts/Soap-Regular.otf"); }
@font-face { font-family: "Alverata"; src: url("fonts/Alverata.otf"); }
@font-face { font-family: "Arboria-MediumItalic"; src: url("fonts/Arboria-MediumItalic.otf"); }
@font-face { font-family: "BaskervilleDisplayPT-BoldItalic"; src: url("fonts/BaskervilleDisplayPT-BoldItalic.otf"); }
@font-face { font-family: "Arboria-Light"; src: url("fonts/Arboria-Light.otf"); }
@font-face { font-family: "SofiaPro-Bolditalic"; src: url("fonts/SofiaPro-Bolditalic.otf"); }
@font-face { font-family: "IvyPrestoText-Italic"; src: url("fonts/IvyPrestoText-Italic.otf"); }
@font-face { font-family: "NeueKabel-LightItalic"; src: url("fonts/NeueKabel-LightItalic.otf"); }
@font-face { font-family: "NeueKabel-Italic"; src: url("fonts/NeueKabel-Italic.otf"); }
@font-face { font-family: "AnisetteStd-Regular"; src: url("fonts/AnisetteStd-Regular.otf"); }
@font-face { font-family: "BebasNeuePro-Book"; src: url("fonts/BebasNeuePro-Book.otf"); }
@font-face { font-family: "LeMondeJournalStd-Italic"; src: url("fonts/LeMondeJournalStd-Italic.otf"); }
@font-face { font-family: "QuiverleafCF-Regular"; src: url("fonts/QuiverleafCF-Regular.otf"); }
@font-face { font-family: "Alga-BoldItalic"; src: url("fonts/Alga-BoldItalic.otf"); }
@font-face { font-family: "SilvaDisplay-Light"; src: url("fonts/SilvaDisplay-Light.otf"); }
@font-face { font-family: "Alverata-Bold"; src: url("fonts/Alverata-Bold.otf"); }
@font-face { font-family: "FinoSans-Bold"; src: url("fonts/FinoSans-Bold.otf"); }
@font-face { font-family: "Alga-ExtralightItalic"; src: url("fonts/Alga-ExtralightItalic.otf"); }
@font-face { font-family: "Alga-Regular"; src: url("fonts/Alga-Regular.otf"); }
@font-face { font-family: "ProximaNova-MediumIt"; src: url("fonts/ProximaNova-MediumIt.otf"); }
@font-face { font-family: "PMackinacProMedium"; src: url("fonts/PMackinacProMedium.otf"); }
@font-face { font-family: "GravesendSans-Light"; src: url("fonts/GravesendSans-Light.otf"); }
@font-face { font-family: "MendlSans-DawnRegular"; src: url("fonts/MendlSans-DawnRegular.otf"); }
@font-face { font-family: "ProximaNova-LightIt"; src: url("fonts/ProximaNova-LightIt.otf"); }
@font-face { font-family: "Niagara-Regular"; src: url("fonts/Niagara-Regular.otf"); }
@font-face { font-family: "LigurinoRg-Bold"; src: url("fonts/LigurinoRg-Bold.otf"); }
@font-face { font-family: "Alga-Extralight"; src: url("fonts/Alga-Extralight.otf"); }
@font-face { font-family: "CampaignSerif-Light"; src: url("fonts/CampaignSerif-Light.otf"); }
@font-face { font-family: "Alverata-BoldItalic"; src: url("fonts/Alverata-BoldItalic.otf"); }
@font-face { font-family: "Bookmania-LightItalic"; src: url("fonts/Bookmania-LightItalic.otf"); }
@font-face { font-family: "Brother-1816-Bold-Italic"; src: url("fonts/Brother-1816-Bold-Italic.otf"); }
@font-face { font-family: "ProximaNova-SemiboldIt"; src: url("fonts/ProximaNova-SemiboldIt.otf"); }
@font-face { font-family: "SwearDisplay-LightItalic"; src: url("fonts/SwearDisplay-LightItalic.otf"); }
@font-face { font-family: "HossRound-Bold"; src: url("fonts/HossRound-Bold.otf"); }
@font-face { font-family: "LigurinoRg-Italic"; src: url("fonts/LigurinoRg-Italic.otf"); }
@font-face { font-family: "ProximaNova-Black"; src: url("fonts/ProximaNova-Black.otf"); }
@font-face { font-family: "FuturaPT-Light"; src: url("fonts/FuturaPT-Light.otf"); }
@font-face { font-family: "Alga-Semibold"; src: url("fonts/Alga-Semibold.otf"); }
@font-face { font-family: "Arboria-BookItalic"; src: url("fonts/Arboria-BookItalic.otf"); }
@font-face { font-family: "BebasNeuePro-Italic"; src: url("fonts/BebasNeuePro-Italic.otf"); }
@font-face { font-family: "Tenon-LightItalic"; src: url("fonts/Tenon-LightItalic.otf"); }
@font-face { font-family: "P22MackinacProMedium-Italic"; src: url("fonts/P22MackinacProMedium-Italic.otf"); }
@font-face { font-family: "Bressay-Bold"; src: url("fonts/Bressay-Bold.otf"); }
@font-face { font-family: "Bookmania-RegularItalic"; src: url("fonts/Bookmania-RegularItalic.otf"); }
@font-face { font-family: "Noka-Light"; src: url("fonts/Noka-Light.otf"); }
@font-face { font-family: "Kelvingrove-Regular"; src: url("fonts/Kelvingrove-Regular.otf"); }
@font-face { font-family: "Gautreaux-Bold"; src: url("fonts/Gautreaux-Bold.otf"); }
@font-face { font-family: "AlverataLt-Italic"; src: url("fonts/AlverataLt-Italic.otf"); }
@font-face { font-family: "Brother-1816-Light-Italic"; src: url("fonts/Brother-1816-Light-Italic.otf"); }
@font-face { font-family: "DepotNew-Bold"; src: url("fonts/DepotNew-Bold.otf"); }
@font-face { font-family: "FilsonProLight"; src: url("fonts/FilsonProLight.otf"); }
@font-face { font-family: "ProximaNova-BlackIt"; src: url("fonts/ProximaNova-BlackIt.otf"); }
@font-face { font-family: "HossRound-Light"; src: url("fonts/HossRound-Light.otf"); }
@font-face { font-family: "ProximaNova-Regular"; src: url("fonts/ProximaNova-Regular.otf"); }
@font-face { font-family: "Brother-1816-Regular"; src: url("fonts/Brother-1816-Regular.otf"); }
@font-face { font-family: "SofiaPro-Lightitalic"; src: url("fonts/SofiaPro-Lightitalic.otf"); }
@font-face { font-family: "BaskervilleDisplayPT-Bold"; src: url("fonts/BaskervilleDisplayPT-Bold.otf"); }
@font-face { font-family: "NeueKabel-Regular"; src: url("fonts/NeueKabel-Regular.otf"); }
@font-face { font-family: "SofiaPro-Bold"; src: url("fonts/SofiaPro-Bold.otf"); }
@font-face { font-family: "Niagara-Light"; src: url("fonts/Niagara-Light.otf"); }
@font-face { font-family: "IvyPrestoText-Light"; src: url("fonts/IvyPrestoText-Light.otf"); }
@font-face { font-family: "Termina-Light"; src: url("fonts/Termina-Light.otf"); }
@font-face { font-family: "Termina-Bold"; src: url("fonts/Termina-Bold.otf"); }
@font-face { font-family: "IvyPrestoText-Regular"; src: url("fonts/IvyPrestoText-Regular.otf"); }
@font-face { font-family: "MostraNuova-Bold"; src: url("fonts/MostraNuova-Bold.otf"); }
@font-face { font-family: "Arboria-LightItalic"; src: url("fonts/Arboria-LightItalic.otf"); }
@font-face { font-family: "BrothersOT-WordLogos"; src: url("fonts/BrothersOT-WordLogos.otf"); }
@font-face { font-family: "Arboria-Book"; src: url("fonts/Arboria-Book.otf"); }
@font-face { font-family: "BrothersOT-SuperSlant"; src: url("fonts/BrothersOT-SuperSlant.otf"); }
@font-face { font-family: "OrpheusPro-Italic"; src: url("fonts/OrpheusPro-Italic.otf"); }
@font-face { font-family: "Interstate-Regular"; src: url("fonts/Interstate-Regular.otf"); }
@font-face { font-family: "BebasNeuePro-Regular"; src: url("fonts/BebasNeuePro-Regular.otf"); }
@font-face { font-family: "AlverataLt"; src: url("fonts/AlverataLt.otf"); }
@font-face { font-family: "FilsonProLight-Italic"; src: url("fonts/FilsonProLight-Italic.otf"); }
@font-face { font-family: "Tenon-Regular"; src: url("fonts/Tenon-Regular.otf"); }
